.DS_Store

user-api/.classpath
user-api/.project
user-api/.settings/
user-api/target/
user-api/.idea

product-api/.settings/
product-api/target/
product-api/.classpath
product-api/.project
product-api/.idea

cart-api/.classpath
cart-api/.project
cart-api/.settings/
cart-api/target/
cart-api/.idea

cart-client/.classpath
cart-client/.project
cart-client/.settings/
cart-client/target/
cart-client/.idea

/.metadata/

*.iml
